@charset "utf-8";
* {
  padding: 0;
  font-family: "Microsoft YaHei";
  max-width: 720px;
  margin: 0 auto;
}
html {
  font-size: 625%;
}
body {
  background: #29bde0;
}
.header {
  text-align: center;
  color: #fff;
  font-size: .3rem;
  padding: .1rem .2rem;
  border-bottom: 1px solid #74d4eb;
}
.header a {
  display: block;
}
.back {
  width: 25px;
  height: 41px;
  background: url("../images/backicon.png");
  float: left;
}
.end {
  width: 36px;
  height: 36px;
  background: url("../images/del.png");
  float: right;
}
.main {
  width: 75%;
  margin: .5rem auto;
  background: #ffedc5;
  border: 5px solid #fff;
}
.bg {
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/hdfp.png");
  background-size: cover;
  border-radius: 50%;
  margin: 1.3rem auto;
}
.persons {
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/wow.png");
  background-size: cover;
  border-radius: 50%;
  margin: .2rem auto;
}
.persons-title {
  text-align: center;
  font-size: .3rem;
  color: #29bde0;
  margin: 0 .2rem;
}
.persons-words {
  text-align: center;
  font-size: .3rem;
  color: #f56b81;
  margin: 0 .2rem;
}
.persons-text {
  font-size: .2rem;
  color: #fca000;
  text-align: left;
  margin: .2rem .2rem .5rem .2rem;
}
.number {
  width: .5rem;
  height: .5rem;
  background: #fff;
  border: 3px solid #ffedc5;
  border-radius: 50%;
  margin-top: -0.25rem;
  text-align: center;
  font-size: .3rem;
  color: #f56b81;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.btn {
  width: 75%;
  height: .5rem;
  line-height: 0;
  background: #fbb435;
  font-size: .3rem;
  color: #fff;
}
