@charset "utf-8";
* {
  padding: 0;
  font-family: "Microsoft YaHei";
  max-width: 720px;
  margin: 0 auto;
}
html {
  font-size: 625%;
}
body {
  background: #29bde0;
}
.header {
  text-align: center;
  color: #fff;
  font-size: .3rem;
  padding: .1rem .2rem;
  border-bottom: 1px solid #74d4eb;
}
.header a {
  display: block;
}
.back {
  width: 25px;
  height: 41px;
  background: url("../images/backicon.png");
  float: left;
}
.end {
  width: 36px;
  height: 36px;
  background: url("../images/del.png");
  float: right;
}
.column {
  background: #b9e9f5;
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.16rem;
  vertical-align: middle;
}
.column p {
  float: left;
  margin-left: 5%;
  display: inline-block;
  margin-bottom: 0;
  color: #000;
}
.column > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fbb435;
  border-radius: 50%;
  float: right;
  margin: 0.07rem 2.5% 0 0;
}
.column > div > span {
  margin-left: 0.1rem;
  margin-bottom: 0.02rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 0.1rem solid transparent;
  border-bottom: 0.1rem solid transparent;
  border-left: 0.15rem solid #fff;
}
.column-p {
  color: #fff;
  font-size: 0.15rem;
  height: 0.2rem;
  line-height: 0.2rem;
  position: relative;
  background: #29bde0;
  text-align: left;
  padding: 0.2rem 10%;
  margin: 0;
}
.colum-p-span {
  position: absolute;
  top: 0;
  left: 10%;
  display: inline-block;
  border-left: 0.04rem solid transparent;
  border-right: 0.04rem solid transparent;
  border-top: 0.1rem solid #b9e9f5;
}
.main {
  margin-bottom: .7rem;
}
.clm {
  margin-top: .4rem;
}
.olo {
  height: .9rem;
  line-height: .7rem;
  font-size: .18rem;
  width: .75rem;
  background: #d58512;
  border: 2px solid #fff;
  box-sizing: content-box;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.col-xs-4 {
  text-align: center;
}
.endd {
  height: 20px;
  width: 20px;
  background: #fff;
  position: absolute;
  z-index: 99;
  top: 105%;
  left: 37%;
  background: #fff url("../images/img2.png");
  background-size: cover;
  background-position: -2px 0;
  display: none;
}
.lol {
  width: .75rem;
  height: .2rem;
  line-height: .2rem;
  background: #41a9ca;
  color: #fff;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.btn {
  width: 75%;
  height: .5rem;
  line-height: 0;
  background: #fbb435;
  font-size: .3rem;
  color: #fff;
}
